/TeamControlClient.sdf
/Bitmap/
/Release/common_task_list.bin
/Release/project_list.bin
/Release/project_to_server.bin
/Release/settings.bin
/Release/task_list.bin
/Release/task_to_server.bin
/Release/TeamControlClient.Build.CppClean.log
/Release/TeamControlClient.exe
/Release/TeamControlClient.log
/Release/user_list.bin
/TeamControlClient.sdf
/TeamControlClient.suo
